/* RegistrationForm.css */

.registration-form-container {
  max-width: 400px;
  margin: 0 auto;
}

.registration-form{
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
}

.registration-form-heading {
  font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color:#273967; /* Change color as needed */
    font-weight: bold; /* Make the heading bold */
    text-transform: uppercase;
}

.registration-form-group {
  margin-bottom: 15px;
}

.registration-form-label {
  display: block;
  margin-bottom: 5px;
}

.registration-form-input,
.registration-form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.registration-form-button {
  width: 100%;
  padding: 10px;
  background-color: #2fe5d3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registration-form-button:hover {
  background-color: #0056b3;
}
